@model MidTermSolution.Models.Order

@{
    ViewBag.Title = "Order Details";
}

<h2>Order Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Order Date :</dt>
        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt>Customer ID :</dt>
        <dd>
            @Html.DisplayFor(model => model.CustomerID)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-success" })
</p>
