@model IEnumerable<MidTermSolution.Models.Order>

@{
    ViewBag.Title = "KAS Orders";
}

<h2>KAS Orders</h2>

<table class="table">
    <tr>
        <th>Order Date</th>
        <th>Customer ID</th>
        <th>Action</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerID)
        </td>
        <td>

            @Html.ActionLink("Details", "Details", new { id=item.OrderID })

        </td>
    </tr>
}

</table>
<body>
    <div class="jumbotron">
        <h1>KAS Ceramics Ltd.</h1>
        <p class="lead">KAS Ceramics Limited is the only Porcelain Tableware manufacturing plant in Bangladesh successfully completed the verification of origin by Department of International Negotiations – DEINT, Foreign Trade Secretariat – MDIC of Brazilian Govt.</p>
        <p><a href="http://www.farr.com.bd/online/index.php" target="_blank" class="btn btn-primary btn-lg">Read more &raquo;</a></p>
    </div>
    <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img class="img-responsive img-portfolio img-hover" src="~/img/thumbs/ord2.jpg" width="1150" alt="">
                <div class="carousel-caption">
                    <h2>Coffee Pot</h2>
                </div>
            </div>
            <div class="item">
                <img class="img-responsive img-portfolio img-hover" src="~/img/thumbs/ord4.jpg" width="1150" alt="">
                <div class="carousel-caption">
                    <h2>Designed Crest</h2>
                </div>
            </div>
            <div class="item">
                <img class="img-responsive img-portfolio img-hover" src="~/img/thumbs/ord7.jpg" width="1150" alt="">
                <div class="carousel-caption">
                    <h2>Decorated Crest</h2>
                </div>
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>
    <!-- Page Content -->
    <div class="container">
        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Welcome to Place a Order
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i> Body </h4>
                    </div>
                    <div class="panel-body">
                        <p>The brilliant whiteness and superb translucency have positioned KAS ultra white body practical and stunning designs taking Porcelain to new height. Without reducing the mechanical strength, KAS ultra white porcelain is refined to give the user a soft Bone China like feeling. Ultra white porcelain is the result of super integration of the best quality of raw materials like as premium quality New Zealand Kaolin and other additives and the result of innovation in receipt and utilization of supreme human skill. Comparable in quality to the best Porcelain manufacturers, KAS is one of the Globes.</p>
                        <a href="#" class="btn btn-default">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"></i> Design </h4>
                    </div>
                    <div class="panel-body">
                        <p>KAS FINE IVORY is a outcome of the creativity and innovation in Porcelain from its RND. KAS Fine Ivory Tableware is designed to be an affordable luxury gives your tabletop a unique and contemporary look. Exceptional in creamy and translucent body color, design and finish exhibiting the inherent strength and purity feel like as New Bone China!</p>
                        <a href="#" class="btn btn-default">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-compass"></i> Shape </h4>
                    </div>
                    <div class="panel-body">
                        <p>Exuding elegance and finesse to enhance and compliment of your food presentation, each piece also boasts hidden strength about 30% more than normal Porcelain because KAS High Alumina Porcelain body containing about 30% purified Alumina originated from JAPAN. So it can create truly unique and memorable dining experience- time after time.</p>
                        <a href="#" class="btn btn-default">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <!-- Exclusive Designs -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Choose Design</h2>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="~/img/thumbs/ord3.jpg" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="~/img/thumbs/ord5.jpg" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="~/img/thumbs/ord6.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
    <!-- /.container -->
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Script to Activate the Carousel -->
    <script>
        $('.carousel').carousel({
            interval: 2000 //changes the speed
        })
    </script>
</body>
