@{
    ViewBag.Title = "About KAS Ceramics Ltd.";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    KAS Ceramics started its journey as an export oriented business concern producing hard porcelain
    tableware for the international and local market since 2007. The factory is situated near Dhaka,
    Bangladesh and the plant is equipped with the latest state-of-the-art European ceramics manufacturing
    technology from Germany and Italy and decal printing technology from Japan . The factory has
    well-qualified and sound R & D team and dedicated workers. Many foreign technicians also work at
    the factory for supervision of the entire production process. The company intends quality and
    superior customer service.
</p>

<p>
    KAS Ceramics, an ISO 9001:2008 certified company, has been able to develop and establish its own
    brand names: KAS Euro Fine Porcelain, KAS Fine Ivory and KAS High Alumina Porcelain. The brands
    have been priced within an affordable range for attracting the middle-class and upper middle-class
    customers abounding the local as well as foreign markets. The entire range of KAS products comply
    with the US FDA Standards and Proposition 65 ( California State ) requirements.
</p>

<p>
    KAS Ceramics has successfully made its mark in the ceramic tableware market at home and abroad by
    blending aesthetics, durability and innovation in design in one production house. It has also been
    very smart in popularizing its products within a very small span of time. The organization is a
    prominent entrepreneurial emblem of Bangladesh in the world arena.
</p>

<p>As such, we invite inquiries from your esteem organization to join in this exciting new venture.</p>
